.header{
    grid-area: hd;
    display: flex;
    direction: row;
    align-items:center;
}

.im{
    justify-content: center;
    width: 10%;
    margin: 1em;
}

.hd{
    text-align: center;
    width: 100%;
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    color: blue;
}
.card{
    position: relative;
    left: 2em;
    display: flex;
    direction: row;
    box-shadow: 0 4px 8px 0;
    width: 20em;
}

