@import "main1.css";
@import "main2.css";
@import "main3.css";

<link href="https://fonts.googleapis.com/css?family=Cute+Font|Lalezar|Roboto+Mono&display=swap" rel="stylesheet">

@media(max-width: 320px){
    .container{
        display: grid;
        grid-template-areas:
            "hd hd"
            "bdy sd"
            "bdy sd"
            "bdy sd"
            "bdy sd"
            "bdy sd"
            "ft ft";
    }
}

@media(min-width: 600px) and (max-width: 900px){
    .container{
        display: grid;
        grid-template-areas:
            "hd hd hd"
            "bdy bdy sd"
            "bdy bdy sd"
            "bdy bdy sd"
            "bdy bdy sd"
            "bdy bdy sd"
            "ft ft ft";
    }

}

@media(min-width: 901px){
    .container{
        display: grid;
        grid-template-areas:
            "hd hd hd hd hd"
            "bdy bdy bdy bdy sd"
            "bdy bdy bdy bdy sd"
            "bdy bdy bdy bdy sd"
            "bdy bdy bdy bdy sd"
            "bdy bdy bdy bdy sd"
            "ft ft ft ft ft";
    }
}


.message{
    grid-area: bdy;
    display: flex;
    direction: row;
    align-items:flex-start;
    margin:1em;
}

article>h2{
    color: red;
}

.side{
    grid-area: sd;
    text-align: center;
    font-family: 'Lalezar', cursive;
    line-height: 2;
}

ul{
    list-style-type: none;
}

li{
    margin: 10px;
}

button{
    width: 100%;
}

.body2{
    background-image: url("../media/algorithms.jpg");
    background-size: cover;
}

.body3{
    background-image: url("../media/05.jpg");
    background-size: cover;
    color: #6cf;
}

